@use '@/app/styles/mixins/fontMixins' as mixins;

.section {
    width: 100%;
    padding: 40px 10vw;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;

    .heading {
        @include mixins.header;
    }

    .noProducts {
        width: 100%;

        @include mixins.header;
        text-align: center;
    }

    .paginationBlock {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
}
