@use '@/app/styles/mixins/fontMixins' as mixins;

.section {
    width: 100%;
    padding: 40px 10vw;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;

    .pageHeader {
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .heading {
            @include mixins.header;

            display: flex;
            align-items: center;
            gap: 8px;

            cursor: pointer;

            & > span {
                @include mixins.text-label;
                color: var(--monochrome-color-label);
            }
        }
    }

    .noProducts {
        width: 100%;

        @include mixins.header;
        text-align: center;
    }

    .paginationBlock {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        .pageNumber {
            margin: 0 8px;

            @include mixins.header-card;
        }
    }
}
