@use '@/app/styles/mixins/fontMixins' as mixins;

.button {
    padding: 8px;

    display: flex;
    align-items: center;
    gap: 8px;

    @include mixins.text-button;

    border-radius: 10px;

    transition: all 0.3s ease-in-out;

    &:hover {
        scale: 1.02;
    }

    &.black {
        color: var(--monochrome-color-off-white);

        background: linear-gradient(#535664, #202d3a);
    }

    &.transparent,
    &.bordered {
        color: var(--monochrome-color-off-black);
    }

    &.bordered {
        border: 2px solid var(--monochrome-color-off-black);
    }

    &.pressed {
        border: 2px solid #ca024f;

        color: #ca024f;

        & > svg > path {
            stroke: #ca024f;
        }
    }
}
