:root {
    --font-montserrat: 'Montserrat', sans-serif;
    --font-roboto: 'Roboto', sans-serif;

    --weight-extrabold: 800;
    --weight-bold: 700;
    --weight-semibold: 600;
    --weight-medium: 500;
    --weight-regular: 400;

    --letter-spacing-0: 0em;
    --letter-spacing-0075: 0.0075em;
    --letter-spacing-01: 0.01em;
    --letter-spacing--02: -0.02em;
    --letter-spacing-0025: 0.0025em;

    --font-size-header: 48px;
    --font-size-header-card: 32px;
    --font-size-product-price: 24px;
    --font-size-product-price-old: 16px;
    --font-size-text-accent: 24px;
    --font-size-text-menu: 20px;
    --font-size-text-product-description: 20px;
    --font-size-text-user-nickname: 13px;
    --font-size-text-publication-time: 13px;
    --font-size-text-accent-card: 16px;
    --font-size-text-badge: 16px;
}
