:root {
    --font-montserrat: 'Montserrat', sans-serif;
    --font-roboto: 'Roboto', sans-serif;

    --weight-extrabold: 800;
    --weight-bold: 700;
    --weight-semibold: 600;
    --weight-medium: 500;
    --weight-regular: 400;

    --letter-spacing-0: 0em;
    --letter-spacing-0075: 0.0075em;
    --letter-spacing-01: 0.01em;
    --letter-spacing--02: -0.02em;
    --letter-spacing-0025: 0.0025em;

    --font-size-page-header: 40px;
    --font-size-header: 32px;
    --font-size-header-card: 20px;
    --font-size-page-product-price: 28px;
    --font-size-product-price: 20px;
    --font-size-product-price-old: 16px;
    --font-size-text-product-card-title: 24px;
    --font-size-text-description: 20px;
    --font-size-text-menu: 20px;
    --font-size-text-product-description: 16px;
    --font-size-text-user-nickname: 13px;
    --font-size-text-category: 14px;
    --font-size-text-label: 20px;
    --font-size-text-button: 16px;
    --font-size-text-data: 14px;
}
