@use '@/app/styles/mixins/fontMixins' as mixins;

.textareaBlock {
    width: 50%;

    display: flex;
    flex-flow: column nowrap;
    gap: 4px;

    label {
        @include mixins.product-card-title;
    }

    textarea {
        padding: 12px;

        border-radius: 10px;
        border: 2px solid var(--monochrome-color-off-black);

        @include mixins.text-label;

        resize: none;

        &::placeholder {
        }
    }
}
