:root {
    --monochrome-color-off-black: #14142b;
    --monochrome-color-ash: #262338;
    --monochrome-color-body: #4e4b66;
    --monochrome-color-label: #6e7191;
    --monochrome-color-placeholder: #a0a3bd;
    --monochrome-color-line: #d9dbe9;
    --monochrome-color-input: #eff0f6;
    --monochrome-color-bg: #f7f7fc;
    --monochrome-color-off-white: #fcfcfc;
}
