:root {
    --transparent95-dark-color: #14142bf2;
    --transparent75-dark-color: #14142bbf;
    --transparent65-dark-color: #14142ba6;
    --transparent40-dark-color: #14142b66;
    --transparent25-dark-color: #14142b40;
    --transparent10-dark-color: #14142b1a;
}
