:root {
    --transparent95-light-color: #eff0f6f2;
    --transparent75-light-color: #eff0f6bf;
    --transparent65-light-color: #eff0f6a6;
    --transparent40-light-color: #eff0f666;
    --transparent25-light-color: #eff0f640;
    --transparent10-light-color: #eff0f61a;
}
